html{
  box-sizing:border-box;
  height: 100%;
  scroll-behavior: smooth;
}


*,
*::before,
*::after{
  box-sizing:inherit;
}


body{
display: flex;
flex-direction: column;
height: 100%;
padding: 0;
margin: 0;
font-family:"arial", serif;
font-size: 16px;
line-height: 1.5;
background-color: #fff;
color: #000;

}


img{
max-width: 100%;
height: auto;

}

.container{
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */

.main-content{
  flex-grow: 1;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 30%;
  height: 100vh;
  background-color: #fff;
  transition: 0.5s;
  transform: translateX(-100%);
}

.menu-active{
  transform: translateX(0%);
}

.menu-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #333;
right: -35px;
top: 10px;
}

.menu-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 50%;
}

.menu-list a{
text-decoration: none;
text-transform: uppercase;
font-weight: 900;
}

.content {
}

.section{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.home {
  background-color: rgb(14, 226, 60);
}

.news {
background-color: rgb(187, 7, 211);
}

.contact {
  background-color: rgb(41, 59, 223);
}

.photos {
  background-color: rgb(9, 173, 202);
}